version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: daily
      time: "09:00"
      timezone: Europe/Berlin
    open-pull-requests-limit: 0
    commit-message:
      prefix: "chore"
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: daily
      time: "09:00"
      timezone: Europe/Berlin
    open-pull-requests-limit: 0
    commit-message:
      prefix: "chore(pysdk)"
