[build-system]
requires = ["maturin>=1.11,<2.0"]
build-backend = "maturin"

[project]
name = "bauplan"
requires-python = ">=3.8"
dynamic = ["version"]

[dependency-groups]
dev = [
    "griffe>=1.4.0",
]

[tool.maturin]
python-source = "python"
bindings = "pyo3"
features = ["pyo3/extension-module", "python"]
use_base_python = true



# Recompile whenever a rust file changes.
[tool.uv]
cache-keys = [
    { file = "pyproject.toml" },
    { file = "rust/Cargo.toml" },
    { file = "**/*.rs" },
]
