name: Gitlint
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  gitlint:
    runs-on: ubuntu-24.04
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: latest
          enable-cache: true

      - name: Lint git history
        run: |
          # We enable some escape hatches in our .gitlint, and then disable them
          # here. The end result is that CI is stricter than the local linter.
          uvx --from git+https://github.com/colinmarc/gitlint@conventional-options#subdirectory=gitlint-core \
            gitlint --commits '${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }}' \
              --ignore ignore-by-title \
              -c general.ignore-merge-commits=false \
              -c general.ignore-squash-commits=false \
              -c general.ignore-revert-commits=false \
              -c general.ignore-fixup-commits=false \
              -c general.ignore-fixup-amend-commits=false

        shell: bash
