name: Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: blacksmith-16vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          cache: false

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.lock') }}

      - run: mise x -- just test
        env:
          BAUPLAN_API_ENDPOINT: https://api.use1.aqa.bauplanlabs.com
          BAUPLAN_API_KEY: ${{ secrets.BAUPLAN_API_KEY }}
